<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyPeanut</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>work.controller.EmployeeController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>work.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketController</display-name>
    <servlet-name>TicketController</servlet-name>
    <servlet-class>work.controller.TicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketController</servlet-name>
    <url-pattern>/TicketController</url-pattern>
  </servlet-mapping>
</web-app>